<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yorme.fdma">

    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:name=".utilities.AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FDMA">
        <activity android:name=".app.passwordmodal.PasswordModal">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.viewlogs.ChangePinLogs"
            android:exported="false" />
        <activity
            android:name=".app.viewlogs.ChangePasswordLogs"
            android:exported="false" />
        <activity
            android:name=".app.viewlogs.ActivationLogs"
            android:exported="false" />
        <activity
            android:name=".app.settings.ChangePassword"
            android:exported="false" />
        <activity
            android:name=".app.settings.Settings"
            android:exported="false" />
        <activity
            android:name=".app.usermanual.UserManualFilipino"
            android:exported="false" />
        <activity android:name=".app.usermanual.UserManualEnglish" />
        <activity android:name=".app.changephonenumber.ChangePhoneNumber" />
        <activity android:name=".app.changepin.ChangePin" />
        <activity android:name=".app.viewlogs.ViewLogs" />
        <activity android:name=".app.viewlogs.ChangePhoneNumberLogs" />
        <activity android:name=".app.MainActivity" />
    </application>

</manifest>